.box {
    height: 22vh;
    width: 28%;
    border-radius: 10px;
    margin: 1vh;
    padding: 1.5vh;
    display: inline-block;
    font-family: 'Yellowtail', 'Damion', cursive;
    text-align: center;
    background-image: -webkit-radial-gradient(center, transparent 0%,hsla(0, 0%, 0%, 0.2) 65%,hsla(0, 0%, 0%, 0.4) 100%),
        -webkit-linear-gradient(transparent 40%,hsla(0, 0%, 0%, 0.3) 75%,hsla(0, 0%, 0%, 0.3) 100%);
    background-image: -moz-radial-gradient(center, transparent 0%,hsla(0, 0%, 0%, 0.2) 65%,hsla(0, 0%, 0%, 0.4) 100%),
        -moz-linear-gradient(transparent 40%,hsla(0, 0%, 0%, 0.3) 75%,hsla(0, 0%, 0%, 0.3) 100%);
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px)
}

.box>.name {
    clear: both;
    text-align: center;
    font-size: 4vh;
    top: 10vh;
    left: 0;
    width: 40%;
    position: absolute;
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
}


.reverb {
    border: 2px solid hsl(194, 61%, 54%);
}


.overdrive {
    border: 2px solid hsl(90, 67%, 40%);
}


.volume {
    border: 2px solid hsl(50, 60%, 47%);
}


.cabinet {
    border: 2px solid hsl(326, 64%, 37%);
}

.delay {
    border: 2px solid hsl(28, 64%, 37%);
}

.master {
    border: 2px solid #ffffff;
}


.box {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

.box .bgs {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.box .bg, .box .obg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0px;
    border-radius: 10px;
}

.box .bg:nth-child(1) {
    background: black;
    -webkit-transform: translateZ(-3px);
}
.box .bg:nth-child(2) {
    background: black;
    -webkit-transform: translateZ(-6px);
}
.box .bg:nth-child(3) {
    background: black;
    -webkit-transform: translateZ(-10px);
}
.box .bg:nth-child(4) {
    background: black;
    -webkit-transform: translateZ(-14px);
}
.box .bg:nth-child(5) {
    background: black;
    -webkit-transform: translateZ(-19px);
}
.box .bg:nth-child(6) {
    background: black;
    -webkit-transform: translateZ(-24px);
}
.box .bg:nth-child(7) {
    background: black;
    -webkit-transform: translateZ(-30px);
}
.box .bg:nth-child(8) {
    background: black;
    -webkit-transform: translateZ(-30px);
}
.box .bg:nth-child(9) {
    background: black;
    -webkit-transform: translateZ(-37px);
}
.box .bg:nth-child(10) {
    background: black;
    -webkit-transform: translateZ(-44px);
}
.box .bg:nth-child(11) {
    background: black;
    -webkit-transform: translateZ(-50px);
}
.box .bg:nth-child(12) {
    background: black;
    -webkit-transform: translateZ(-57px);
}
.box .bg:nth-child(13) {
    background: black;
    -webkit-transform: translateZ(-64px);
}
.box .bg:nth-child(14) {
    background: black;
    -webkit-transform: translateZ(-75px);
}
