.pots {
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px)
}

.pot {
    display: inline-block;
    font-size: 2vh;
    text-align: center;
    margin: 3vh;
    width: 0.8vh;
}

.nameHolder {
    transform: translateX(-50%);
    bottom: -4vh;
    position: absolute;
}

.knob {
    height: 6vh;
    width: 6vh;
    background-image: url("../img/pot-small.png");
    background-size: 6vh;
    border-radius: 50%;
}

.pot .name {
    font-size: 3vh;

}

.knobHolder {
    border-radius: 50%;
    background-color: #333;
    height: 6vh;
    width: 6vh;
    z-index: 2;
    cursor: pointer;
}
